TOKEN=MTU1MDg4MTE0NDE4OTM2MjI5OQ.G6MFUx.0Ud3yvBJ-EpaYHcpV3HHNGrXzjhezPDDFotsYU
CLIENT_ID=1550881144189362299
GUILD_ID=1499126901443137576
SETUP_ENABLED=true
DATABASE_URL=
INVITE_FILTER=true
SPAM_FILTER=true
ANTI_NUKE=true
